.App {
  margin: 0 auto;
  text-align: center;
  max-width: 425px;
  background-color: #d3d3d3;
}
.Header {
  color: white;
  background: linear-gradient(
      0deg,
      rgba(27, 27, 27, 0.5),
      rgba(27, 27, 27, 0.5)
    ),
    url(./components/assets/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: 8px solid #00ffff;
}
.Header h1 {
  margin: 0;
}
.header-link {
  text-decoration: none;
}
.Browse {
  padding: 20px 0;
}
.Artist {
  padding: 10px 20px;
  position: relative;
}
.artist-img {
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.Artist span {
  background-color: #2196f3;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  margin: 10px 20px;
  padding: 8px;
}
.ArtistPage {
  padding: 20px 8px;
}
.ArtistPage img {
  height: 180px;
  width: 180px;
}
.Albums {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.Albums img {
  flex-basis: 50%;
}
.NotFound {
  height: calc(100vh - 291px);
}
.NotFound h2 {
  margin: 0;
  padding: 120px 20px;
}
.NotFound span {
 font-size: 32px;
  color: #2196f3;
}

@media only screen and (max-width: 415px) {
  .Albums {
    display: block;
    padding: 5%;
  }
}
